.footer-logo {
  display: inline-block;
  max-width: 60px;
}

footer {
  padding: 50px $default-side-padding;
  background-color: $footer-background-color;

  ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      padding: 0 20px;

      &:first-child {
        padding-left: 0;
      }
    }
  }
}