.page-banner {
  position: relative;

  .page-banner-background-image {
    width: 100%;
  }
  .banner-message {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -200px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}