.home {
  position: relative;
  
  // this allow to control of the background imahe opacity
  &::after {
    content: "";
    background: url('https://res.cloudinary.com/glinkaco/image/upload/v1562005803/Backgrounds/main-background_llp3lt.png');
    background-position: top $header-height center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
}