html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:focus {
  //outline: none;
}

body {
  background-color: yellow;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

ul, ol, li {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.w500 {
  display: block;
  max-width: 500px;
  margin: 0 auto;
}


// transitions
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}