---
layout: default.njk
title: "The Home page"
description: "Page specific description of the home page"

# router name for page transitions
routerPageName: home

# Import global site metadata - to be used in <head>
data: 
  site: "!siteData.yml"
  nav: "!navigation.yml"
  
includeSocialMetaData: true

# Content Classes
content_classes: home has-banner

# Banner elements
page_title: "Metalsmith Starter"
page_sub_title: "The background image must be a jpg image"
banner_background_image: "/assets/images/backgrounds/banner-main"
---

{% block banner %}
{% include "partials/banner.njk" %}
{% endblock %}


<section class="container">
  <h1>Build System</h1>
  <p>This Metalsmith Starter uses a Gulp 4 workflow and the Nunjucks templating engine.</p>
  <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

  <p>Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue.</p>

  <p>Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor.</p>
</section>
