<div class="page-banner">
  <img class="page-banner-background-image" 
       srcset="{{ banner_background_image }}-small.jpg 500w, 
               {{ banner_background_image }}-medium.jpg 800w, 
               {{ banner_background_image }}-large.jpg 1200w,
               {{ banner_background_image }}.jpg 2000w"
       src="{{ banner_background_image }}.jpg" alt="" >
  <div class="banner-message">
    <h1 class="page-title">{{ page_title }}</h1>
    <p class="page-sub-title">{{ page_sub_title }}</p>
  </div>
</div>