<footer>
    <div class="container">
        <div class="footer-content">
            <ul class="list-unstyled">
                <li><a class="footer-logo" href="/"><img src="/assets/defaultImages/logo.png" alt=""></a></li>
                <li>Copyright &copy; 2015 - <script type="text/javascript">document.write(new Date().getFullYear());</script> {{ data.site.owner.name }}</li>
                <li><a class="link_exception" href="tel:{{ data.site.owner.tel }}">{{ data.site.owner.tel }}</a></li>
                <li><a class="link_exception" href="mailto:{{ data.site.owner.email }}">{{ data.site.owner.email }}</a></li>
            </ul>
        </div>
    </div>
</footer>
