<div class="header-wrapper">
    <header class="clearfix">
        <div class="nav-bar">
            <a class="main-logo" href="/"><img src="/assets/defaultImages/logo.png" alt=""></a>
             
            {% include "partials/main-navigation.njk" %}
            
            <span class="hamburger"><span></span></span>
        </div>
    </header>
</div>