html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #4f4f4f;
  line-height: 1.4;
  padding: 80px 0 0; }

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif; }

ul, ol, li {
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  height: auto; }

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px; }

section.primary-color {
  background-color: #7796c4; }

section.secondary-color {
  background-color: #dde271; }

section.tertiary-color {
  background-color: #c1d4ed; }

section.quaternary-color {
  background-color: #d1d8e7; }

.row {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start; }

.column {
  padding: 10px; }

.column-content {
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75); }
  .column-content h1 {
    margin-top: 0;
    line-height: 1; }
  .column-content p:last-child {
    margin-bottom: 0; }

.column__full-width {
  width: 960px; }

.column__one-third-width {
  flex: 0 0 calc(33.3333%); }

.column__two-third-width {
  flex: 0 0 calc(66.6666%); }

.bottom-space {
  margin-bottom: 20px; }

.full-image {
  padding: 0; }
  .full-image img {
    display: block; }

.full-height {
  height: 100%; }

.btn-row {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

section.fade-in {
  animation: fade-in 0.3s ease-in-out; }

.fade-out {
  animation: fade-out 0.3s ease-in-out; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.9); }

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 80px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between; }
  .nav-bar .main-logo {
    position: relative;
    top: 10px;
    display: block;
    max-width: 60px; }
  .nav-bar .hamburger {
    display: none; }

.main-navigation ul {
  list-style: none; }

.main-navigation .main-menu {
  display: flex;
  justify-content: flex-end;
  height: 80px; }
  .main-navigation .main-menu > li {
    height: 100%;
    position: relative; }
    .main-navigation .main-menu > li a, .main-navigation .main-menu > li span {
      display: block;
      padding: 0 15px;
      color: #333;
      text-decoration: none;
      font-size: 1rem;
      line-height: 80px;
      background-color: transparent;
      transition: all 0.3s; }
      .main-navigation .main-menu > li a.is-active, .main-navigation .main-menu > li span.is-active {
        color: red; }
      .main-navigation .main-menu > li a:hover, .main-navigation .main-menu > li span:hover {
        cursor: pointer;
        color: red; }
    .main-navigation .main-menu > li span:after {
      content: "+";
      padding-left: 5px; }
    .main-navigation .main-menu > li.open > span {
      color: #ccc;
      background-color: rgba(17, 17, 17, 0.9); }
      .main-navigation .main-menu > li.open > span:after {
        content: "-"; }

.main-navigation .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  min-width: 100%;
  overflow: hidden;
  height: 0;
  width: auto;
  padding: 0;
  transition: all 0.3s; }
  .main-navigation .dropdown-menu li > a, .main-navigation .dropdown-menu li > span {
    line-height: 2em;
    white-space: nowrap;
    color: #ccc; }
    .main-navigation .dropdown-menu li > a.is-active, .main-navigation .dropdown-menu li > span.is-active {
      color: red; }

.main-navigation .open .dropdown-menu {
  padding: 20px 0;
  height: auto;
  background-color: rgba(17, 17, 17, 0.9); }

.page-banner {
  position: relative;
  margin-top: -80px; }

.page-banner__background-image {
  width: 100%; }

.page-banner__message {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -200px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .page-banner__message h1 {
    font-size: 40px; }
  .page-banner__message h1, .page-banner__message p {
    text-shadow: 0px 0px 10px #fff; }

.page-banner_no-image {
  margin-top: 0;
  padding: 100px 0; }

.page-banner__title,
.page-banner__sub-title {
  text-align: center;
  text-shadow: 0px 0px 10px #fff; }

.page-banner__title {
  margin: 0;
  font-size: 40px; }

.content {
  padding-bottom: 50px; }

.footer-logo {
  display: inline-block;
  max-width: 60px; }

footer {
  padding: 50px 15px;
  background-color: rgba(17, 17, 17, 0.5); }
  footer ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    footer ul li {
      padding: 0 20px; }
      footer ul li:first-child {
        padding-left: 0; }

.default-list {
  list-style: square;
  padding-left: 20px; }
  .default-list li {
    padding-bottom: 5px; }

.btn {
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em; }

.btn_primary {
  background-color: #7796c4;
  color: #fff; }

#toTop {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  transition: all .5s ease 0s;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4); }
  #toTop svg {
    position: relative;
    top: 7px; }

.home {
  position: relative; }
  .home::after {
    content: "";
    background-image: url("https://res.cloudinary.com/glinkaco/image/upload/v1562005803/Backgrounds/main-background_llp3lt.png");
    background-position: top 80px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
    @media (max-width: 1380px) {
      .home::after {
        background-image: url("https://res.cloudinary.com/glinkaco/image/upload/f_auto,q_70,w_1380/v1562005803/Backgrounds/main-background_llp3lt.png"); } }
    @media (max-width: 1100px) {
      .home::after {
        background-image: url("https://res.cloudinary.com/glinkaco/image/upload/f_auto,q_70,w_1100/v1562005803/Backgrounds/main-background_llp3lt.png"); } }
    @media (max-width: 1025px) {
      .home::after {
        background-image: url("https://res.cloudinary.com/glinkaco/image/upload/f_auto,q_70,w_1025/v1562005803/Backgrounds/main-background_llp3lt.png"); } }
    @media (max-width: 947px) {
      .home::after {
        background-image: url("https://res.cloudinary.com/glinkaco/image/upload/f_auto,q_70,w_947/v1562005803/Backgrounds/main-background_llp3lt.png"); } }
    @media (max-width: 862px) {
      .home::after {
        background-image: url("https://res.cloudinary.com/glinkaco/image/upload/f_auto,q_70,w_862/v1562005803/Backgrounds/main-background_llp3lt.png"); } }
    @media (max-width: 773px) {
      .home::after {
        background-image: url("https://res.cloudinary.com/glinkaco/image/upload/f_auto,q_70,w_773/v1562005803/Backgrounds/main-background_llp3lt.png"); } }
    @media (max-width: 677px) {
      .home::after {
        background-image: url("https://res.cloudinary.com/glinkaco/image/upload/f_auto,q_70,w_677/v1562005803/Backgrounds/main-background_llp3lt.png"); } }
    @media (max-width: 570px) {
      .home::after {
        background-image: url("https://res.cloudinary.com/glinkaco/image/upload/f_auto,q_70,w_570/v1562005803/Backgrounds/main-background_llp3lt.png"); } }
    @media (max-width: 449px) {
      .home::after {
        background-image: url("https://res.cloudinary.com/glinkaco/image/upload/f_auto,q_70,w_449/v1562005803/Backgrounds/main-background_llp3lt.png"); } }
